html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  color: #000;
  font-style: normal;
  line-height: 1.2;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 15px;
  font-family: "Yeseva One", cursive;
}

.button {
  padding: 18px 54px;
  background-color: #FFBD59;
  font-family: Comfortaa, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.section--decor {
  position: relative;
}
.section--decor::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 30px;
  background-image: url("../images/section-decor.png");
}
.section--decor::after {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 13px;
  width: 1000%;
  height: 1px;
  background-color: #7B6152;
}

.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}
.menu__btn span {
  height: 1px;
  background-color: #7B6152;
  width: 100%;
}

.header {
  background-color: #FFF8F3;
}
.header__inner {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 20px;
}
.menu__list-link {
  text-transform: uppercase;
}

.phone {
  position: relative;
}
.phone::before {
  position: absolute;
  content: "";
  background-image: url("../images/phone.svg");
  width: 20px;
  height: 21px;
  left: -23px;
  top: -3px;
}

.email {
  margin: 17px 0;
}

.main {
  background-color: #FFF8F3;
  overflow-x: clip;
}

.top {
  padding: 40px 0 150px;
}
.top__inner {
  position: relative;
}
.top__content {
  padding: 150px 0 250px;
  width: 370px;
}
.top__title {
  font-family: "Yeseva One", cursive;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 400;
}
.top__text {
  margin-bottom: 48px;
}
.top__buy {
  padding: 18px 54px;
  background-color: #FFBD59;
  font-family: Comfortaa, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.top__img {
  position: absolute;
  top: 0;
  left: 240px;
}

.about {
  background-color: #A5978E;
  padding: 50px 0;
  color: #FAFAFA;
  margin-bottom: 150px;
}
.about__inner {
  display: flex;
  align-items: center;
}
.about__content {
  min-width: 370px;
}
.about__text {
  margin-bottom: 15px;
}
.about__list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 110px;
  padding-bottom: 48px;
  flex-basis: 930px;
}
.about__item-img {
  margin-bottom: 10px;
}
.about__item-text {
  font-size: 11px;
}

.section {
  padding-bottom: 150px;
}
.section__inner {
  display: grid;
  grid-template-columns: 370px auto;
}
.section__content {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 92px;
}

.products__content {
  gap: 50px 90px;
}
.products__item {
  width: 290px;
  text-align: center;
  margin: 0 auto;
}
.products__item-img {
  margin-bottom: 8px;
}
.products__item-price {
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "Yeseva One", cursive;
}
.products__item-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: "Yeseva One", cursive;
  font-weight: 400;
}
.products__item-text {
  margin-bottom: 27px;
  font-size: 12px;
}
.products__item-aboutbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 160px;
}

.steps__list {
  gap: 70px 25px;
  counter-reset: number;
}
.steps__item {
  display: flex;
  gap: 40px;
  list-style-type: none;
  position: relative;
}
.steps__item::before {
  position: absolute;
  counter-increment: number;
  content: "0" counter(number);
  bottom: 0;
  left: 0;
  font-size: 30px;
  color: #BEA495;
  font-family: "Yeseva One", cursive;
}
.steps__item:nth-child(n+10)::before {
  content: counter(number);
}
.steps__item--even::before {
  right: 0;
  left: auto;
}
.steps__item-text {
  flex-basis: 170px;
  padding-bottom: 40px;
}
.steps__item-img {
  width: 160px;
}

.course__item-img {
  position: relative;
  color: #fff;
  font-size: 11px;
  font-family: "Yeseva One", cursive;
}
.course__title, .course__time, .course__price {
  background-color: #BEA495;
  position: absolute;
}
.course__title {
  padding: 15px;
  left: 10px;
  top: 40%;
}
.course__time {
  padding: 7px 10px;
  left: 10px;
  top: 60%;
}
.course__time span {
  font-size: 10px;
  font-family: "Comfortaa", sans-serif;
}
.course__price {
  padding: 19px 10px;
  right: 0;
  bottom: 2px;
}

.team {
  background-color: #A5978E;
  padding: 60px 0 80px;
  margin-bottom: 150px;
  color: #fff;
}
.team__content {
  padding-bottom: 0;
  gap: 75px;
  padding-left: 20px;
}
.team__item {
  position: relative;
}
.team__item-box {
  width: 165px;
  padding: 14px 10px;
  position: absolute;
  background-color: #7B6152;
  text-align: center;
  z-index: 4;
  bottom: 15px;
  right: 33px;
}
.team__item-name {
  font-size: 12px;
  margin-bottom: 5px;
  font-family: "Yeseva One", cursive;
}
.team__item-descr {
  font-size: 10px;
}

.feedback__descr {
  padding-right: 20px;
}
.feedback__item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 16px;
  align-items: center;
}
.feedback__item-video {
  position: relative;
}
.feedback__item-videobtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  cursor: pointer;
}
.feedback__item-sociallink {
  margin-bottom: 12px;
}
.feedback__item-name {
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Yeseva One", cursive;
}
.feedback__item-text {
  margin-bottom: 15px;
}
.feedback__item-btn {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.feedback__item-content {
  padding-bottom: 70px;
}
.feedback__content {
  padding-bottom: 110px;
}
.feedback__slider {
  width: 760px;
  overflow: hidden;
}

.feedback__content .swiper-pagination {
  bottom: 50px;
}

.swiper-pagination-bullet {
  background-color: #BEA495;
  width: 53px;
  height: 4px;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #7B6152;
}

.certificates__slider {
  width: 1135px;
  overflow: hidden;
}
.certificates__descr {
  padding-right: 20px;
}
.certificates__content {
  padding-bottom: 114px;
}

.certificates__content .swiper-pagination {
  bottom: 60px;
}

.accordeon__item {
  background-color: #fff;
  margin-bottom: 10px;
}
.accordeon__title {
  color: #000;
  font-size: 16px;
  font-family: "Yeseva One", cursive;
  display: block;
  background-color: transparent;
  padding: 16px 50px 16px 13px;
  width: 100%;
  text-align: start;
  position: relative;
}
.accordeon__title::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/arrow-bottom.svg");
  top: 17px;
  right: 26px;
}
.accordeon__text {
  opacity: 0;
  max-height: 0;
  color: #000;
  transition: opacity 0.5s, max-height 0.5s;
}
.accordeon__text ol {
  padding: 20px 40px;
}

.accordeon__title.accordeon__title--active::after {
  transform: rotate(180deg);
}

.accordeon__text.accordeon__text--visible {
  opacity: 1;
}

.promo {
  background-image: url("../images/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 140px 0;
}
.promo__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.promo__text {
  font-size: 40px;
  font-family: "Yeseva One", cursive;
  color: #fff;
}
.promo__link {
  color: #272727;
  background-color: #FFBD59;
  display: inline-block;
  padding: 17px 45px;
  font-weight: 600;
}

.contacts {
  padding: 150px 0 50px;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.form {
  background-color: #fff;
  width: 664px;
  padding: 75px 42px;
}
.form__title {
  color: #000;
  font-size: 40px;
  font-family: "Yeseva One", cursive;
  margin-bottom: 60px;
}
.form__input {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  color: #000;
}
.form__input::-moz-placeholder {
  color: #B3B3B3;
  font-size: 14px;
  font-weight: 400;
  font-family: "Comfortaa", sans-serif;
}
.form__input::placeholder {
  color: #B3B3B3;
  font-size: 14px;
  font-weight: 400;
  font-family: "Comfortaa", sans-serif;
}
.form__btn {
  font-family: "Comfortaa", sans-serif;
  color: #272727;
  background-color: #FFBD59;
  padding: 17px 34px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 45px;
}

.footer {
  padding: 40px 0 35px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
}
.footer__social {
  display: flex;
  gap: 15px;
}

@media (max-width: 1150px) {
  .feedback__inner {
    grid-template-columns: 260px auto;
  }
  .certificates__inner {
    grid-template-columns: 260px auto;
  }
  .contacts__img {
    width: 350px;
  }
}
@media (max-width: 1070px) {
  .container {
    padding: 0 20px;
  }
  .top__content {
    width: 333px;
    padding: 95px 0 70px;
  }
  .top__text {
    margin-bottom: 30px;
  }
  .top__img {
    left: 300px;
  }
  .top__img-l {
    width: 655px;
  }
  .about__content {
    min-width: 300px;
  }
  .about__list {
    padding-left: 20px;
  }
  .section__inner {
    grid-template-columns: 290px auto;
    gap: 10px;
  }
  .products__content {
    gap: 40px 20px;
  }
  .team__content {
    gap: 50px;
  }
  .team__item-box {
    bottom: -30px;
    right: 0;
  }
  .feedback__inner {
    grid-template-columns: 260px auto;
    gap: 0;
  }
  .feedback__slider {
    width: 690px;
  }
  .certificates__inner {
    grid-template-columns: 280px auto;
    gap: 0;
  }
  .certificates__slider {
    width: 880px;
  }
  .certificates__content img {
    width: 280px;
  }
  .questions__inner {
    grid-template-columns: auto !important;
  }
  .questions__title {
    margin-bottom: 40px;
    text-align: center;
  }
}
@media (max-width: 1050px) {
  .steps__list {
    gap: 40px 15px;
  }
  .steps__item {
    gap: 30px;
  }
}
@media (max-width: 980px) {
  .steps__title {
    font-size: 30px;
  }
  .steps__list {
    gap: 35px 25px;
  }
  .steps__item {
    gap: 20px;
  }
  .steps__item::before {
    font-size: 25px;
  }
  .steps__item-img {
    width: 110px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__contacts {
    text-align: center;
    width: 100%;
    padding-top: 15px;
  }
  .footer__social {
    justify-content: center;
  }
  .section__inner {
    grid-template-columns: 200px auto;
  }
  .products__content {
    gap: 30px 16px;
  }
  .feedback__inner,
  .certificates__inner {
    grid-template-columns: auto;
    gap: 30px;
  }
  .feedback__descr,
  .certificates__descr {
    text-align: center;
    padding-right: 0;
  }
  .feedback__content,
  .certificates__content {
    margin: 0 auto;
  }
  .promo__inner {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 840px) {
  body {
    font-size: 12px;
  }
  .container {
    max-width: 640px;
  }
  .title {
    font-size: 25px;
  }
  .phone::before {
    width: 14px;
    height: 14px;
    top: -2px;
    left: -16px;
    background-size: cover;
  }
  .top__content {
    width: 230px;
  }
  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .top__text {
    margin-bottom: 20px;
  }
  .top__img {
    left: 180px;
  }
  .about {
    margin-bottom: 60px;
  }
  .about__content {
    min-width: 200px;
  }
  .about__title {
    margin-bottom: 15px;
  }
  .about__list {
    margin-left: 27px;
    margin-bottom: 33px;
    gap: 10px;
  }
  .about__item-img {
    margin-bottom: 6px;
  }
  .about__item-img--1, .about__item-img--3 {
    width: 120px;
  }
  .about__item-img--2 {
    width: 190px;
  }
  .products__item {
    width: 200px;
  }
  .products__item-img {
    width: 200px;
    margin-bottom: 6px;
  }
  .products__item-price {
    font-size: 12px;
    margin-bottom: 7px;
  }
  .products__item-title {
    font-size: 14px;
    margin-bottom: 9px;
  }
  .products__item-text {
    margin-bottom: 18px;
  }
  .button {
    font-size: 12px;
    padding: 10px 26px;
  }
  .course__title {
    padding: 6px;
    left: -1px;
    top: 40%;
  }
  .course__time {
    padding: 5px;
    left: -1px;
    top: 55%;
  }
  .course__price {
    padding: 10px;
    right: 0;
    bottom: 9px;
  }
  .steps__item-text {
    font-size: 10px;
  }
  .header__menu {
    order: 1;
  }
  .header__menu-list {
    width: 153px;
    background-color: #7B6152;
    color: #FFF8F3;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px 25px 45px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-110%);
    transition: transform 0.5s ease;
    z-index: 5;
  }
  .menu__btn {
    display: flex;
  }
  .header__menu-list.menu--open {
    transform: translateY(0);
  }
  .section__inner {
    display: block;
  }
  .section__descr {
    margin-bottom: 30px;
    text-align: center;
  }
  .team {
    padding: 50px 0;
    margin-bottom: 60px;
  }
  .team__content {
    gap: 50px 25px;
    padding-left: 0;
  }
  .feedback__item {
    grid-template-columns: auto;
    margin: 0 auto;
    text-align: center;
    gap: 16px;
  }
  .feedback__item-btn {
    position: relative;
  }
  .feedback__item-text {
    margin-bottom: 40px;
  }
  .feedback__item-content {
    padding-bottom: 0;
  }
  .feedback__slider {
    width: 430px;
    margin: 0 auto;
  }
  .section {
    padding-bottom: 60px;
  }
  .promo {
    padding: 100px 0;
  }
  .promo__text {
    font-size: 30px;
    width: 280px;
    text-align: center;
  }
  .contacts {
    padding: 60px 0;
  }
  .contacts__img {
    display: none;
  }
}
@media (max-width: 670px) {
  .form {
    padding: 30px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .form__btn {
    font-size: 12px;
    padding: 10px 26px;
  }
}
@media (max-width: 500px) {
  .steps__list {
    gap: 35px 15px;
  }
  .footer {
    padding: 50px 0;
    font-size: 14px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__menu {
    padding: 50px 0;
    text-align: center;
  }
  .footer__menu-list {
    flex-direction: column;
  }
  .team__content {
    grid-template-columns: auto;
  }
  .team__item-box {
    right: auto;
    left: 100px;
  }
  .promo {
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  .top {
    padding: 30px 0 50px;
  }
  .top__content {
    width: 180px;
  }
  .top__title {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .top__text {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .top__buy {
    font-size: 10px;
    padding: 14px 41px;
  }
  .top__img-l {
    width: 308px;
    left: -20px;
    position: relative;
  }
  .about {
    margin-bottom: 50px;
  }
  .about__inner {
    align-items: flex-end;
    display: block;
  }
  .about__content {
    min-width: 170px;
  }
  .about__list {
    margin-left: 0;
    padding-left: 10px;
    margin-bottom: 0;
    gap: 5px;
    align-items: flex-end;
  }
  .about__item-img--1, .about__item-img--3 {
    display: none;
    width: 80px;
  }
  .about__item-img--2 {
    display: none;
    width: 140px;
  }
  .about__item-text {
    display: none;
  }
  .section {
    padding-bottom: 50px;
  }
  .section__content {
    padding-bottom: 62px;
  }
  .section__descr {
    width: 300px;
    margin: 0 auto 30px;
  }
  .steps__list {
    gap: 20px 25px;
  }
  .steps__item {
    gap: 3px;
  }
  .steps__item-text {
    font-size: 9px;
  }
  .steps__item-img {
    width: 66px;
  }
  .course__content {
    grid-template-columns: auto;
  }
  .products__item {
    width: 150px;
  }
  .products__item-img {
    width: 150px;
  }
  .products__item-price {
    margin-bottom: 5px;
  }
  .products__item-text {
    margin-bottom: 16px;
  }
  .products__content {
    gap: 40px 7px;
  }
  .course__item {
    width: 255px;
  }
  .course__item-img {
    width: 255px;
  }
  .team__content {
    padding-bottom: 40px;
  }
  .feedback__slider {
    width: 320px;
  }
  .feedback__item-img {
    width: 250px;
  }
  .feedback__item-videobtn img {
    width: 50px;
  }
  .certificates__content img {
    width: 200px;
  }
  .certificates__slider {
    width: 640px;
  }
  .accordeon__title {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .top__img {
    left: 200px;
    top: -12px;
    z-index: 1;
  }
  .top__img-l {
    width: 170px;
  }
  .top__content {
    width: 200px;
    padding: 20px 0 0;
    position: relative;
    z-index: 2;
  }
  .top__title {
    width: 250px;
    font-size: 20px;
  }
  .top__text {
    font-size: 12px;
  }
  .about {
    padding: 25px 0 10px;
  }
  .about__content {
    min-width: 233px;
  }
  .about__list {
    padding-left: 12px;
    margin-left: 12px;
    padding-bottom: 30px;
  }
  .about__item-img--2, .about__item-img--3 {
    display: none;
  }
  .section__descr {
    margin: 0 auto 25px;
    width: 235px;
  }
  .steps-text {
    font-size: 6px;
  }
  .promo__text {
    font-size: 25px;
  }
}/*# sourceMappingURL=style.css.map */